<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="${'User id: ' + user.getId()}">VALUE</p>
<p th:text="${'Name: ' + user.getName()}">VALUE</p>
<p th:text="${'Date of birth: ' + user.getDateOfBirth()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>
<hr/>

<div th:if="${user.getOrders().size() < 1}">
    <span>User hasn't made any order yet</span>
</div>

<div th:if="${user.getOrders().size() > 0}">
    <span>All user's orders:</span>
    <div th:each="order : ${user.getOrders()}">
        <a th:href="@{/orders/{id}(id=${order.getOrderUuid()})}"
           th:text="${'Order id: ' + order.getOrderUuid() + ' - ' + order.getDateOfOrder()}">order</a>
    </div>
</div>

<hr/>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete user" onclick=""/>
</form>

</body>
</html>